body{
  height: 100%;
  width: 100%;
  margin: 0;
  letter-spacing: 0.16px;
  line-height: 1.6;
  font-size: 16px;
  font-family: Merriweather,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
}

 a {
  text-decoration: none;
}

ul {
  list-style: none;
}


/* Navbar styles */
.navbar{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.17);
  position: relative;
  height: 70px;
}

.navbar > .navbar-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  max-width: 1200px;
  margin: 0 auto;  
}

.navbar > .navbar-container > img {
  height: 50px;
}

.navbar > .navbar-container > .navbar-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin: 0px 30px;
}

.navbar > .navbar-container  a {
  color: black;
}

.navbar > .navbar-container > .navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 200px;
}

.navbar > .navbar-mobile {
  justify-content: space-between;
  display: none;
  align-items: center;
  padding: 0px 15px;
  height: 100%;
}

.navbar > .navbar-mobile > .menu-toggle {
  color:#161464;
} 

.navbar > .navbar-mobile > .menu-panel {
  position: absolute;
  top: 70px;
  left: 0; 
  background-color: darkgray;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  display: none;
}

.navbar > .navbar-mobile.active > .menu-panel {
  display: flex;
}

.navbar > .navbar-mobile > .menu-panel > .menu-item > a{
  color: black;
} 

.navbar > .navbar-mobile > img {
  height: 50px;
}

@media (max-width:576px) {
  .navbar > .navbar-container {
    display: none;
  }

  .navbar > .navbar-mobile {
    display: flex;
  }
}

/* ___________________________________________________________________________________________________________________________________ */

/* footer style */
.footer {
  width: 100%;
  background-color: #333333;
  color: #CCCCCC;
}

.footer > .footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  padding: 50px 16px;
  margin: 0 auto;
}

.footer > .footer-container a {
  color: #CCCCCC;
}

.footer .social-icon  img {
  height: 40px;
}

.footer .social-icon ul {
  display: flex;
  justify-content: space-between;
}

.footer .icon-list {
  display: flex;
} 

.footer .social-icon  li {
  padding-right: 10px;
}

.footer .copyright {
  padding-bottom: 16px;
  padding-top: 16px;
  background-color: gray;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width:640px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  } 
}

/* ______________________________________________________________________________________________________________________________ */

/* section style */
.section {
  min-height: 100vh;
  word-spacing: 5px;
}

.section .section-firstblock {
  display: flex;
  flex-direction: column;
  background-image: url("/src/img/bg-masthead.jpg");
  height:100vh;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
  color: white;  
}

.section .section-head {
  max-width: 1200px;
  margin:  auto;
}
.section .section-head > h1{
  font-size: 35px;
  text-align: center;
}
.section .section-head > p {
  font-size: 25px;
  text-align: center;
}

.section .section-content {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  padding-bottom: 50px;
  padding-top: 50px;  
}

.section .section-content .section-right {
  max-width: 400px;  
  padding-top: 50px;  
  margin-bottom: 56px;  
}

.section .section-content .section-left {
  padding-bottom: 50px;
}

.section .section-content .image{
  height: 400px;
  width: 350px; 
  margin-top:6px;
}

.section .section-content .section-right >  h3 {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 36px;
  color: #161464;
}
.section .section-content .section-right > p {
  color: #525f7d;
  line-height: 28px;
  margin-bottom: 16px;
}


.section .section-container .section-design{
  position: relative;
}

.section .section-container .section-skew{
  height: 900px;
  background: #f1f2f9;
  box-shadow:  0 0 0 1px rgba(0, 0, 0, 0.0);
  transform: skewY(-5deg) scaleY(0.65) translateY(15%);
  top: -260px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

@media(max-width:640px) {  
  .section-content {   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;   
  } 
  
  .section h3 {
    text-align: center;
  }
 
  .section-skew{
    display: none;
  }
}
